*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("/fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
  line-height: 24px;
  font-weight: 400;
  min-width: 1200px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav__link {
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 47px;
}


.header{
  background-color: #eeeeee;
}
.slider {
  background-color: #eeeeee;
  margin-top: -71px;
}
.main-nav__list {
  list-style: none;
}

.main-nav__img {
  margin-left: 47px;
  margin-top: 44px;
}

.main-nav {
  display: flex;
}

.main-nav__list {
  display: flex;
  margin-top: 75px;
  margin-left: 161px;
}

.main-nav__link--basket {
  position: relative;
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 47px;
  margin-top: 25px;
  margin-left: 187px;

}

.main-nav__link--basket::before {
  content: "";
  background-image: url(../img/cart-icon.svg);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 7px;
 left: -40px;
}

.main-nav__basket {
  list-style: none;
  margin-left: 48px;
  margin-top: 50px;
}

.slider-subtitle {
  color: #000000;
  font-family: inherit;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  width: 600px;
  padding-top: 84px;
  margin-bottom: 31px;

}




.slider-text {
  color: #283136;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  min-width: 500px;
}

.slider-list {
  list-style: none;
  margin-left: 5px;
}

.slider-link {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fb565a;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 50px;
  padding-right: 57px;
  text-decoration: none;
  display: inline-block;
  margin-left: 2px;
  margin-top: 23px;
}

.slider-list__item-first {
  background-image: url(../img/slide1.png);
  width: 698px;
  height: 413px;
}

.slider-list__item-second {
  background-image: url(../img/slide2.png);
  width: 663px;
  height: 430px;
}

.slider-list__item-third {
  background-image: url(../img/slide3.png);
  width: 759px;
  height: 411px;
}

.feature-list {
  list-style: none;
  display: flex;
  margin-left: 8px;
}

.feature-title {
  color: #000000;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 18px;
}

.feature-text {
  color: #283136;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 250px;
  margin-top: -8px;
  margin-left: 0px;
}

.feature-link {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 11px;
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
  display: inline-block;
  margin-top: 17px;

}

.feature-link--color1 {
  background-color: #fb565a;
}

.feature-link--color2 {
  background-color: #00ca74;
}

.feature-link--color3 {
  background-color: #efc84a;
}

.feature-img {
  width: 300px;
  height: 146px;
}

.feature-item {
  margin-left: 50px;
  margin-top: 144px;
  margin-right: 50px;
}
.about-one {
  margin-left: 98px;
}
.about-one__title {
  color: #000000;
  font-family: inherit;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  width: 660px;
  margin-top: 140px;
 
}

.about-one__text {
  color: #283136;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 650px;
 
  margin-top: -12px;
  margin-bottom: 39px;
}

.about-one__subtitle {
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;

}

.about-one__item {
  color: #283136;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  position: relative;
}
.about-one__item::before{
  content: "";
  position: absolute;
  top: 11px;
  left: -34px;
  width: 25px;
  height: 2px;
  background-color: red;
}
.about-one__list {
  list-style: none;
  margin-top: 24px;
  padding-left: 35px;

}

.about-two__title {
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 28px;
  margin-left: 2px;
  margin-bottom: 56px;
}

.about-two__persent {
  color: #000000;
  font-family: inherit;
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
  padding-bottom: 15px;
  padding-right: 4px;
}

.about-two__text {
  color: #283136;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 20px;

}

.about-two {
  margin-top: 106px;
  margin-left: 139px;
}

.about {
  display: flex;
  position: relative;
}

.about::before {
  content:"";
  top: 64px;
  left: 98px;
  width: 1160px;
  height: 2px;
  position: absolute;
  background-color:#eeeeee;

}
.copyright-list {
  list-style: none;
  display: flex;
  position: relative;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

}

.copyright-wrapper {
  margin-top: 120px;
  margin-left: 41px;
}
.copyright-list:nth-child(2n) {
margin-top: 100px;
}

.copyright-item {
margin-left: 48px;
margin-right: 48px;
}


.footer-subtitle {
  color: #000000;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-left: 138px;
 
}

.footer-text {
  color: #444444;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-left: 140px;
  margin-top: 9px;
}

.footer-list {
  list-style: none;
  display: flex;
  margin-left: 45px;
  margin-top: 32px;
 
}

.footer {
  display: flex;
}

.footer-wrapper {
 
  margin-top: 40px;

  
}

.footer-item {
  background-color: #e1e1e1;
  width: 79px;
height: 79px;
border-radius: 50%;
text-align: center;
margin-left: 12px;
}

.map {
  margin-top: 105px;
  margin-bottom: 35px;
  width: 1440px;
height: 416px;
}
.footer-link{
  padding-top: 30px;
    display: block;
}
/*********************SLIDER**********************/
/* .slides {
  position: relative;
  height: 590px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.showing {
  opacity: 1;
  z-index: 2;
} */
.slider-list__item--slide1{
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
    min-height: 413px;
    background-position-y: 23px;
    background-position-x: 434px;
}
.slider-list__item--slide2{
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
    min-height: 413px;
    background-position-y: 23px;
    background-position-x: 434px;
}
.slider-list__item--slide3{
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
    min-height: 413px;
    background-position-y: 23px;
    background-position-x: 434px;
}